#create{
text-align: center;
    justify-content: center;
    background-color: #6b7280;
    margin: 5rem 10rem;
   .create{margin-top: 3rem;
       .name{ margin-top: 2rem;}
       .email{ margin-top: 2rem;}
       .phone{ margin-top: 2rem;}
       .restaurant{ margin-top: 2rem;}
       .address{ margin-top: 2rem;}
       .btn{
           margin-top: 2rem;
       }
   }
}
