#EditForm{text-align: center;
    justify-content: center;
    margin: 3%;
    background-color: #45aaf2;
   .name{margin-top: 2%}
    .email{margin-top: 2%}
    .phone{margin-top: 2%}
    .restaurant{margin-top: 2%}
    .address{margin-top: 2%}
    .btn{margin-top: 2%}

}
