
    #formEdit{text-align: center;
        justify-content: center;
        margin: 5% 25%;background-color: turquoise;

        .name{margin-top: 5rem}
        #order{margin-top: 2%;width: 25%}
        .phone{margin-top: 2%}
        .address{margin-top: 2%}
        .account{margin-top: 2%}
        .btn{margin-top: 2%}
    }

