#edit{
    text-align: center;
    justify-content: center;
    margin: 5rem 30rem;
    background-color: #6b7280;
input{
    color: #1a202c;
    margin-top: 2rem;
}
    button{

        margin-top: 2rem;
    }
}
