@import "edit";
@import "create";
.container{
     background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);;
    margin-top: 5rem;
   .back{margin: 0 2%;text-decoration: none;font-weight: bold;font-size: 1.5rem}
    .text-black{text-decoration: none;font-weight: bold;font-size: 1.5rem}
    table{table-layout: fixed;width: 100%;
        margin: 5rem 2rem;
        thead{
            tr{
                th{

                    text-align: center;
                    width: 20%;

                }
            }
        }
        tbody{
            tr{
                td{

                    text-align: center;
                    width: 20%;word-break: break-word;
                    form{
                        .btn-danger{
                            margin-left: 80%;


                        }
                        .btn_info{}
                    }

                }
            }
        }
    }
}
