@import "edit";
.container{
    background-color: #feca57;
    margin-top: 5rem;
    a{
        background-color: #0abde3;


    }
    table{table-layout: fixed;width: 100%;
        margin: 5rem 2rem;
        thead{
            tr{
                th{

                    text-align: center;
                    width: 20%;

                }
            }
        }
        tbody{
            tr{
                td{

                    text-align: center;
                    width: 20%;
                    form{
                        .btn-danger{
                            margin-left: 80%;


                        }
                        .btn_info{}
                    }

                }
            }
        }
    }
}
