@import "createBanner";
@import "edit";
.container{
    table{table-layout: fixed;
        thead{
            tr{
                th{
                    width: 20%;
                    text-align: center;


                }
            }
        }
        tbody{
            tr{
                td{
                    width: 20%;
                    text-align: center;
                    img{width: 100%;margin-top: 5%;
                    height: 200px}
                    form{
                        .btn-danger{margin-left: 90%}
                    }
                }
            }
        }
    }
}

