#commentCreate{text-align: center;
    justify-content: center;background-color: #7f8fa6;
    margin: 3rem 20rem;
    #content{margin-top: 1rem}
    #userName{margin-top: 1rem}
    #foodName{margin-top: 1rem}
    .btn{
        margin-top: 1rem;
    }
}
