#FormCreate{
    background-color: #6b7280;
    border: 1rem solid #dcdde1;
    text-align: center;
    justify-content: center;
    margin: 3rem 10rem;
    #name{
       .name{

          margin-top: 1rem;
       }
    }
    .image{margin-top: 2%}
    #price{width: 20rem;
        margin-top: 1rem;

    }
    #img{width: 20rem;
        margin-top: 1rem;

    }
    #description{
        width: 20rem;
        margin-top: 1rem;
    }

    select{
        margin-top: .5rem;
    }
}
