@import "create";
@import "Edit";
table{
    margin: 2rem 5rem;table-layout: fixed;
    thead{
        tr{
            th{

                text-align: center;
                //margin-right: 5rem;


            }
        }
    }
    tbody{
        tr{
            td{
                text-align: center;width: 8%;
                .btn{

                }
                img{

                    text-align: center;
                }

            }
        }
    }
}
