#formCreate{text-align: center;
    justify-content: center;
    width: 100%;
    .formCreate{background-color: #7f8fa6;
        margin: 2% 10%;
        #title{margin-top: 1%}
        #description{margin-top: 1%}
        .btn{margin-top: 1%;margin-bottom: 1%}
    }
}
