#Edit{text-align: center;
    justify-content: center;
    margin: 3% 0;

    width: 100%;

   .formEdit{background-color: #7f8fa6;
       margin: 0 15%;
       .title{margin-top: 2%}
       .description{margin-top: 2%}
       .btn{
           margin-top: 2%;
           margin-bottom: 2%;
       }
   }
}
