@import "edit";
@import "create";

.container{margin:3% 20%;a{color: #2d3748;text-decoration: none;color: white}
    table{table-layout: fixed;width: 100%;background-color: #00a8ff;margin-top: 2%;
        thead{text-align: center;

            tr{
                th{

                    width: 25%;




                }
            }
        }
        tbody{text-align: center;table-layout: fixed;;word-wrap: break-word;
            tr{
                td{
                    height: auto;;word-wrap: break-word;
                  #delete{.btn{
                      margin: 0 80%;
                  }}
                    #edit{}


                }

            }
        }
    }
}
