#CreateForm{background-color: #4a5568;text-align: center;justify-content: center;margin: 0 12%;
    #name{margin-top: 10%}
    #price{margin-top: 10%}
    #description{margin-top: 10%}
    .discount{margin-top: 2%}
    #image{
        margin-top: 2%;
    }
    .btn{}
}
