.container{
    h1{text-align: center}
   #EditForm{background-color: #4a5568;text-align: center;margin:3% 20%;
       .name{margin-top: 3%}
      #img{display: flex;text-align: center;justify-content: center;margin-top: 2%;
          .img{}
      }
       .image{margin-top: 3%}
       .price{margin-top: 3%}
       .description{margin-top: 3%}
       .percentage{margin-top: 3%}
   }

}
