#form{text-align: center;
    justify-content: center;
    background-color: #2d3748;
    margin: 5rem 20rem;
    .image-restaurant{
        margin: 3rem 0;

    }
    #name{color: #2d3748;
        .name{

        }
    }
    input{
        margin: 2rem 0;


    }
}
