.container{
    #Home{ color: #1a202c}
    #create{ color: #1a202c;margin-left: 3%}
    .category-food{width: 100%;table-layout: fixed;
        thead{
            tr{
                th{text-align: center;
                    width: 10%;


                }
            }
        }
        tbody{
            tr{
                td{text-align: center;
                    width: 10%;

                }
            }
        }
    }
}
