@import "create";
@import "edit";
.container{margin: 2% 0;
    #Home{ color: #1a202c}
    #create{ color: #1a202c;margin-left: 3%;text-decoration: none;font-weight: bolder;}
    .category-food{width: 100%;table-layout: fixed;margin: 3% 0;
        thead{margin: 3% 0;
            tr{
                th{text-align: center;
                    width: 12%;


                }
            }
        }
        tbody{
            tr{
                td{text-align: center;
                    width: 10%;
                    word-break: break-word;


                }
            }
        }
    }
}
