@import "create";
@import "edit";
//.container{
//    h1{text-align: center}
//    .btn{a{
//        color: white;
//    }}
//    table{
//        width: 100%;
//        thead{
//            tr{
//                th{
//                    padding: 0 5rem;
//
//
//                }
//            }
//        }
//        tbody{
//            tr{
//               .id{padding: 0 5rem}
//                .imageRestaurant{img{
//                    width: 200px;height: 200px
//                }}
//                .name{padding: 0 5rem}
//                .button{
//                    .form-delete{
//                        #btn-delete{transform: translateX(-20rem);
//
//
//
//                        }
//
//                    }
//                    .form-edit{
//                        #edit{
//
//
//                        }
//
//                    }
//                }
//            }
//        }
//    }
//}
.container{
    .category_iranian{display: flex;
        flex-direction: row;
        margin-top: 5rem;

        a{
            font-weight: bolder;
            margin-left: 3rem;
            margin-right: 3rem;
            margin-top: 3rem;


        }
    }
    .category_FastFood{display: flex;
        flex-direction: row;
        margin-top: 5rem;

        a{
            font-weight: bolder;
            margin-left: 3rem;
            margin-right: 3rem;
            margin-top: 3rem;


        }
    }
}
//.container{
//    h1{
//
//    }
//    .btn{
//        a{color: white}
//    }
//    table{
//        thead{
//            tr{
//                th{
//
//                }
//            }
//        }
//        tbody{
//            tr{
//                td{
//
//                }
//            }
//        }
//    }
//}
//.container{
//    width: 100%;
//    height: auto;
//
//    h1{
//        text-align: center;
//        margin: 3rem 0;
//
//    }
//    .btn-primary{margin-left: 10%;
//        margin-bottom: 2rem;
//        a{
//            color: white;
//
//        }
//    }
//    table{border: 2px solid black;
//        thead{
//            tr{
//                th{
//                    padding-left: 80px;
//                    padding-right: 80px;
//
//                }
//            }
//
//        }
//        tbody{
//            tr{border: 2px solid black;
//                .id{
//                    padding-left: 80px;
//                }
//                .name{
//                    transform: translateX(5rem);
//
//                }
//                .imageRestaurant{
//                    padding-left: 80px;
//                    width: 100%;
//                    img{
//                        width: 100%;
//                        height:150px;
//                    }
//                }
//                .form-delete{
//                    //padding-left: 30rem;
//                    transform: translateX(30rem);
//
//                }
//                .form-edit{
//                    transform: translateX(- 5rem);
//
//
//                }
//            }
//        }
//    }
//}
//form{
//    text-align: center;
//    justify-content: center;
//
//    background-color: #1f2937;
//    color: white;
//    margin: 5rem 20rem;
//    #name{
//        .name{
//            margin-top: 3rem;
//            color: #1f2937;
//
//        }
//    }
//    .btn-info{
//        margin-top: 2rem;
//
//    }
//}

