#form{
    #FormCreate{text-align: center;
        justify-content: center;margin: 3% 15%;background-color: #ffd32a;
        border: 1rem solid #ffa801;
        .name{margin: 1% 0;}
        .image{margin: 1% 0;}
        .price{margin: 1% 0;}
        .description{margin: 1% 0;}
        .discount{margin: 1% 0;}
    }
}
