#FormEditSandwich{text-align: center;justify-content: center;background-color: #ffdd59;border: 1rem solid #ffc048;margin: 2% 5%;
.name{margin: 2% 0}
    #img{margin-left: 35%;
        .img{margin: 1% 0}
    }
    .image{margin: 1% 0}
    .price{margin: 1% 0}
    .description{margin: 1% 0}
}
