#create{
    text-align: center;
    justify-content: center;
    background-color: #9ca3af;
    margin: 3% 10%;
    .create{
        .user{margin-top: 2%}
        .food{margin-top: 2%}
        .quantity{margin-top: 2%}
        .btn{margin-top: 2%}
    }
}
