@import "edit";
@import "create";

.container{background-color: #a5b1c2;
    a{text-decoration: none;color: #1a202c}
    table{table-layout: fixed;
        margin: 3rem 5rem;

        thead{
            tr{
                th{

                    text-align: center;
                    width: 20%;
                }
            }
        }
        tbody{
            tr{
                td{
                    text-align: center;width: 20%;
                    #delete{ }
                    #edit{}

                }
            }
        }
    }
}
