//form{
//    text-align: center;
//    justify-content: center;
//    margin: 5rem 20rem;
//    background-color: #1f2937;
//    input{
//        margin-top: 2rem;
//
//    }
//    button{
//        margin-top: 2rem;
//
//    }
//}
form{
    text-align: center;
    justify-content: center;

    background-color: #1f2937;
    color: white;
    margin: 5rem 20rem;
    #name{
        .name{
            margin-top: 3rem;
            color: #1f2937;

        }
    }
    .btn-info{
        margin-top: 2rem;

    }
}

