.category-card{
    .card{border: none;
        .food{
            width: 300px;
            height: 150px;
            border-radius: 20px;

        }
        .card-body{
            transform: translateY(-50px);
            .btn{
                span{
                    margin-right:5px;
                    color: #ef4444;
                }
            }

        }
    }
}
