.container{
    a{text-decoration: none}
    .btn{ color: #1a202c; margin-left: 3%}
    .category-restaurant{table-layout: fixed;word-break: break-word;
        thead{
            tr{
                th{text-align: center;width: 15%}
            }
        }
        tbody{
            tr{
                td{

                    text-align: center;
                    width: 15%;
                    .btn-danger{margin-left: 70%}
                    .btn-success{margin-left: 10%}


                }

            }
        }
    }
}
