#createOrder{text-align: center;justify-content: center;background-color: #ef4444;
    .user{margin-top: 1%;width: 10%}
    .product{margin-top: 1%;width: 10%}
    .seller{margin-top: 1%;width: 10%}
    .phone{margin-top: 1%;width: 10%}
    .discount{margin-top: 1%;width: 10%}
    .food{margin-top: 1%;width: 10%}
    .quantity{margin-top: 1%;width: 10%}
    .btn{margin-top: 1%;}
}
